.background-sigin{

  margin-left: 400px;
  width: 100%;
}











.titre{

    font-family: 'Playball', cursive; 
    color:#b48c2d ;
  
    margin-left: 500px;
    margin-top: 30px;
  }


  .button-signin{
    background-color: black;
    color:#b48c2d ;
    margin-right: 800px;
    
    
    }
    